@CHARSET "UTF-8";

#com-hiyoko-sweet-battle {
	position:relative;
}

#com-hiyoko-sweet-battle button {
	font-size:100%;
}

#com-hiyoko-sweet-battle-appendCharacter {
	border: coral 3px outset;
	background-color:tomato;
	position:absolute;
	left:675px;
	top:-15px;
}

#com-hiyoko-sweet-battle-appendCharacter-ytSheetM {
	border: coral 3px outset;
	background-color:tomato;
	position:absolute;
	left:646px;
	top:20px;
}

#com-hiyoko-sweet-battle-appendCharacter-saveCurrentStatus {
	border: coral 3px outset;
	background-color:tomato;
	position:absolute;
	left:691px;
	top:55px;
}

#com-hiyoko-sweet-battle-jump-top {
	opacity: 0.8;
	color: #90AA90;
	border-radius: 20px;
 cursor: pointer;
 position: fixed;
	right: 30px;
	bottom:0px;
}

#com-hiyoko-sweet-battle-optionalValues-table {
	display:none;
}

.com-hiyoko-sweet-battle-character {
	border: 5px inset #B0B0B0;
	padding:4px;
	background-color:#F0F0F0;
	position:relative;
	width:803px;
}

.com-hiyoko-sweet-battle-character table input {
	width:98%;
}

.com-hiyoko-sweet-battle-character-add-tof,
.com-hiyoko-sweet-battle-character-add-tof-unknown,
.com-hiyoko-sweet-battle-character-mentality-exec,
.com-hiyoko-sweet-battle-character-vitality-exec,
.com-hiyoko-sweet-battle-character-mentality-static-exec,
.com-hiyoko-sweet-battle-character-vitality-static-exec {
	display: inline;
}

.com-hiyoko-sweet-battle-character-vitality-val,
.com-hiyoko-sweet-battle-character-mentality-val {
	width:40px;
}

.com-hiyoko-sweet-battle-character-save {
	position:absolute;
	top:0px;
	right:4px;
	padding:4px;
	border: coral 3px outset;
	background-color:tomato;
}

.com-hiyoko-sweet-battle-character-addPart {
	position:absolute;
	top:32px;
	right:4px;
	border: coral 3px outset;
	background-color:tomato;
}

.com-hiyoko-sweet-battle-character-remove {
	position:absolute;
	top:64px;
	right:4px;
	border: coral 3px outset;
	background-color:tomato;
}

.com-hiyoko-sweet-battle-character-part {
	border: 4px inset #A0A0A0;
	padding:3px;
	padding-bottom:6px;
	margin-top:4px;
	background-color:#E0E0E0;
	position:relative;
}

.com-hiyoko-sweet-battle-character-part-delete {
	position:absolute;
	top:0px;
	right:4px;
	border: coral 3px outset;
	background-color:tomato;
}

.com-hiyoko-sweet-battle-character-part-addAttackWay {
	position:absolute;
	top:0px;
	right:87px;
	border: coral 3px outset;
	background-color:tomato;
}

.com-hiyoko-sweet-battle-character-part-dodge-exec {
	position:absolute;
	top:33px;
	right:122px;
}

.com-hiyoko-sweet-battle-character-part-dodge-static-exec {
	position:absolute;
	top:33px;
	right:4px;
}

.com-hiyoko-sweet-battle-character-part-number {
	width:50px;
}

.com-hiyoko-sweet-battle-character-part-attackway {
	border: 3px inset #909090;
	padding:2px;
	margin-top:6px;
	background-color:#D0D0D0;
	position:relative;
}

.com-hiyoko-sweet-battle-character-part-attackway-name {
	width:80px;
}

.com-hiyoko-sweet-battle-character-part-attackway-val {
	width:40px;
}

.com-hiyoko-sweet-battle-character-part-attackway-name {
	width:80px;
}
.com-hiyoko-sweet-battle-character-part-attackway-atk {
	width:40px;
}

.com-hiyoko-sweet-battle-character-part-attackway > button {
	display: inline;
}
 
.com-hiyoko-sweet-battle-character-part-attackway-exec {
	margin-left:1em;
}

.com-hiyoko-sweet-battle-character-part-attackway-del {
	border: coral 3px outset;
	background-color:tomato;
	position:absolute;
	right:2px;
}

.com-hiyoko-sweet-battle-character-part-attackway-switch {
	border: coral 3px outset;
	background-color:tomato;
}

#com-hiyoko-sweet-battle-counterRemoCon-body {
	width:60%;
	min-width:650px;
	top:15px;
	margin:auto;
	border:2px double #aaa;
	background:white;
	z-index:2;
	position:fixed;
	display:none;
}

#com-hiyoko-sweet-battle-counterRemoCon-overlay{
	z-index:1;
	display:none;
	position:fixed;
	top:0;
	left:0;
	width:100%;
	height:120%;
	background-color:rgba(0,0,0,0.75);
}

#com-hiyoko-sweet-battle-counterRemoCon-list {
	display:inline-block;
	padding:1em;
	background-color: #F0F0F0;
}

#com-hiyoko-sweet-battle-counterRemoCon-inputer {
	display:inline-block;
	padding:1em;

}

#com-hiyoko-sweet-battle-counterRemoCon .com-hiyoko-sweet-ul-list-li-child {
	color: #202020;
}

.com-hiyoko-sweet-battle-counterRemoCon-inputer-tabs-tab {
	display:inline-block;
	margin-left:0px;
	margin-right:0px;
	margin-top:0px;
}

.com-hiyoko-sweet-battle-counterRemoCon-inputer-active {
 border: lemonchiffon 3px inset;
	background-color:wheat;	
}

#com-hiyoko-sweet-battle-counterRemoCon-inputer-valuebase {
	display:inline-block;
}

#com-hiyoko-sweet-battle-counterRemoCon-inputer-value {
	width:50px;
}

#com-hiyoko-sweet-battle-counterRemoCon-inputer-members {
	display:inline-block;
	list-style-type:none;
}

.com-hiyoko-sweet-battle-counterRemoCon-inputer-fix {
	width:50px;
}

#com-hiyoko-sweet-battle-counterRemoCon-inputer-execute {
	display:inline-block;
}

#com-hiyoko-sweet-battle-strogaedList-table{
	display:none;
}