@CHARSET "UTF-8";

#com-hiyoko-sweet-battle {
	position:relative;
}

#com-hiyoko-sweet-battle button {
	font-size:100%;
	padding: 0px;
}

#com-hiyoko-sweet-battle-isDamageEach {
	position: absolute;
	top: 4px;
	left: 134px;
}

#com-hiyoko-sweet-battle-appendCharacter {
	border: coral 3px outset;
	background-color:tomato;
	position:absolute;
	left:675px;
	top:-15px;
}

#com-hiyoko-sweet-battle-appendCharacter-ytSheetM {
	border: coral 3px outset;
	background-color:tomato;
	position:absolute;
	left:508px;
	top:-15px;
}

#com-hiyoko-sweet-battle-appendCharacter-saveCurrentStatus {
	border: coral 3px outset;
	background-color:tomato;
	position:absolute;
	left:691px;
	top:20px;
}

#com-hiyoko-sweet-battle-appendCharacter-loadCurrentStatus {
	border: coral 3px outset;
	background-color:tomato;
	position:absolute;
	left:473px;
	top:20px;
}

#com-hiyoko-sweet-battle-chatTargetTab {
	position: absolute;
	left: 169px;
	top: 34px;
	padding: 3px;
}

#com-hiyoko-sweet-battle-jump-top {
	opacity: 0.8;
	color: #90AA90;
	border-radius: 20px;
	cursor: pointer;
	position: fixed;
	right: 30px;
	bottom:0px;
}

#com-hiyoko-sweet-battle-optionalValues-table {
	display:none;
}

.com-hiyoko-sweet-battle-character {
	border: 5px inset #B0B0B0;
	padding:4px;
	background-color:#F0F0F0;
	position:relative;
	width:803px;
}

.com-hiyoko-sweet-battle-character-unknown {
	background-color:#FFF0F0;
}

.com-hiyoko-sweet-battle-character > p {
	margin-top: 12px;
	margin-bottom: 4px;
}

.com-hiyoko-sweet-battle-character-toggle {
	border: lightyellow 2px solid;
	font-size: 70%;
	vertical-align:middle;
	height: 14px;
	text-align:center;
	font-weight:bold;
	background-color:lemonchiffon;
	position:absolute;
	left:0px;
	top:0px;
}

#com-hiyoko-sweet-battle-counterRemoCon-open,
#com-hiyoko-sweet-battle-sharingEnemiesData,
.com-hiyoko-sweet-battle-character-add-tof,
.com-hiyoko-sweet-battle-character-add-tof-unknown,
.com-hiyoko-sweet-battle-character-options,
.com-hiyoko-sweet-battle-character-share-status,
.com-hiyoko-sweet-battle-character-hide-toggle,
.com-hiyoko-sweet-battle-character-mentality-exec,
.com-hiyoko-sweet-battle-character-vitality-exec,
.com-hiyoko-sweet-battle-character-mentality-static-exec,
.com-hiyoko-sweet-battle-character-vitality-static-exec {
	display: inline;
}

.com-hiyoko-sweet-battle-character-vitality-val,
.com-hiyoko-sweet-battle-character-mentality-val {
	width:40px;
}

.com-hiyoko-sweet-battle-character-save {
	position:absolute;
	top:16px;
	right:4px;
	border: coral 3px outset;
	background-color:tomato;
}

.com-hiyoko-sweet-battle-character-addPart {
	position:absolute;
	top:48px;
	right:4px;
	border: coral 3px outset;
	background-color:tomato;
}

.com-hiyoko-sweet-battle-character-part {
	border: 4px inset #A0A0A0;
	padding:3px;
	padding-bottom:6px;
	margin-top:4px;
	background-color:#E0E0E0;
	position:relative;
}


.com-hiyoko-sweet-battle-character-part-optionsName {
	position: absolute;
	left: 405px;
	width: 368px;
	height: 30px;
	font-size: 50%;
}

.com-hiyoko-sweet-battle-character-part-copy {
	border: coral 2px solid;
	font-size: 70%;
	vertical-align:middle;
	width: 48px;
	height: 14px;
	text-align:center;
	font-weight:bold;
	background-color:tomato;
	position:absolute;
	right:20px;
	top:0px;
}

.com-hiyoko-sweet-battle-character-part-addAttackWay {
	position:absolute;
	top:33px;
	right:4px;
	border: coral 3px outset;
	background-color:tomato;
}

.com-hiyoko-sweet-battle-character-part-dodge-exec {
	position:absolute;
	top:33px;
	left: 405px
}

.com-hiyoko-sweet-battle-character-part-dodge-static-exec {
	position:absolute;
	top:33px;
	left: 445px
}

.com-hiyoko-sweet-battle-character-part-number {
	width:48px;
}

.com-hiyoko-sweet-battle-character-part-number > input {
	width:44px;
}

.com-hiyoko-sweet-battle-character-part-attackway {
	border: 3px inset #909090;
	padding:2px;
	margin-top:6px;
	background-color:#D0D0D0;
	position:relative;
}

.com-hiyoko-sweet-battle-character-part-attackway-name {
	width:80px;
}

.com-hiyoko-sweet-battle-character-part-attackway-val {
	width:40px;
}

.com-hiyoko-sweet-battle-character-part-attackway-name {
	width:80px;
}
.com-hiyoko-sweet-battle-character-part-attackway-atk {
	width:40px;
}

.com-hiyoko-sweet-battle-character-part-attackway button {
	display: inline;
}
 
.com-hiyoko-sweet-battle-character-part-attackway-exec {
	margin-left:2px;
}

.com-hiyoko-sweet-battle-character-copy {
	border: coral 2px solid;
	font-size: 70%;
	vertical-align:middle;
	height: 14px;
	text-align:center;
	font-weight:bold;
	background-color:tomato;
	position:absolute;
	right:129px;
	top:0px;
}

.com-hiyoko-sweet-battle-character-remove {
	border: coral 2px solid;
	font-size: 70%;
	vertical-align:middle;
	height: 14px;
	text-align:center;
	font-weight:bold;
	background-color:tomato;
	position:absolute;
	right:0px;
	top:0px;
}

.com-hiyoko-sweet-battle-character-part-delete,
.com-hiyoko-sweet-battle-character-part-attackway-del {
	border: coral 2px solid;
	font-size: 70%;
	vertical-align:middle;
	width: 14px;
	height: 14px;
	text-align:center;
	font-weight:bold;
	background-color:tomato;
	position:absolute;
	right:0px;
	top:0px;
}

.com-hiyoko-sweet-battle-character-part-attackway-switch {
	border: coral 3px outset;
	background-color:tomato;
}

.com-hiyoko-sweet-battle-noTableExist .com-hiyoko-sweet-battle-character-part-attackway-targetSelector {
	display:none;
}

#com-hiyoko-sweet-battle-counterRemoCon-body {
	width:60%;
	min-width:650px;
	top:15px;
	margin:auto;
	border:2px double #aaa;
	background:white;
	z-index:2;
	position:fixed;
	display:none;
}

#com-hiyoko-sweet-battle-counterRemoCon-chatlog {
	padding: 4px;
}

#com-hiyoko-sweet-battle-counterRemoCon-chatlog > span {
	font-size: 60%;
	display:block;
	padding: 4px;
}

#com-hiyoko-sweet-battle-counterRemoCon-chatlog > span:nth-child(odd) {
	background-color: #E0E0E0;
}

#com-hiyoko-sweet-battle-counterRemoCon-chatlog > span > button {
	display: inline;
}

#com-hiyoko-sweet-battle-counterRemoCon-overlay{
	z-index:1;
	display:none;
	position:fixed;
	top:0;
	left:0;
	width:100%;
	height:120%;
	background-color:rgba(0,0,0,0.75);
}

#com-hiyoko-sweet-battle-counterRemoCon-list {
	display:inline-block;
	padding:1em;
	background-color: #F0F0F0;
}

#com-hiyoko-sweet-battle-counterRemoCon-inputer {
	display:inline-block;
	padding:1em;

}

#com-hiyoko-sweet-battle-counterRemoCon .com-hiyoko-sweet-ul-list-li-child {
	color: #202020;
}

.com-hiyoko-sweet-battle-counterRemoCon-inputer-tabs-tab {
	display:inline-block;
	margin-left:0px;
	margin-right:0px;
	margin-top:0px;
}

.com-hiyoko-sweet-battle-counterRemoCon-inputer-active {
 border: lemonchiffon 3px inset;
	background-color:wheat;	
}

#com-hiyoko-sweet-battle-counterRemoCon-inputer-valuebase {
	display:inline-block;
}

#com-hiyoko-sweet-battle-counterRemoCon-inputer-value {
	width:50px;
}

#com-hiyoko-sweet-battle-counterRemoCon-inputer-members {
	display:inline-block;
	list-style-type:none;
}

.com-hiyoko-sweet-battle-counterRemoCon-inputer-fix {
	width:50px;
}

#com-hiyoko-sweet-battle-counterRemoCon-inputer-execute {
	display:inline-block;
}

#com-hiyoko-sweet-battle-strogaedList-table{
	display:none;
}

#com-hiyoko-sweet-battle-nameSelector-overlay {
	z-index:1;
	display:none;
	position:fixed;
	top:0;
	left:0;
	width:100%;
	height:120%;
	background-color:rgba(0,0,0,0.75);
}

#com-hiyoko-sweet-battle-nameSelector-body {
	width:20%;
	min-width:200px;
	top:15px;
	margin:auto;
	padding:1em;
	border:2px double #aaa;
	background:white;
	z-index:2;
	position:fixed;
	display:none;
}

.com-hiyoko-sweet-battle-optionalValues-table-header-0,
.com-hiyoko-sweet-battle-optionalValues-table-member-0 {
	width: 5px;
}

.com-hiyoko-sweet-battle-optionalValues-table-header-2,
.com-hiyoko-sweet-battle-optionalValues-table-header-4,
.com-hiyoko-sweet-battle-optionalValues-table-header-7,
.com-hiyoko-sweet-battle-optionalValues-table-member-2,
.com-hiyoko-sweet-battle-optionalValues-table-member-4,
.com-hiyoko-sweet-battle-optionalValues-table-member-7 {
	width: 50px;
}


.com-hiyoko-sweet-battle-optionalValues-table-header-3,
.com-hiyoko-sweet-battle-optionalValues-table-header-5,
.com-hiyoko-sweet-battle-optionalValues-table-header-6,
.com-hiyoko-sweet-battle-optionalValues-table-member-3,
.com-hiyoko-sweet-battle-optionalValues-table-member-5,
.com-hiyoko-sweet-battle-optionalValues-table-member-6 {
	width: 80px;
}

#com-hiyoko-sweet-battle-characterOptionValues {
	z-index:7;
	position:fixed;
	top:0;
	left:0;
	width:100%;
	height:120%;
	padding: 40px;
}
#com-hiyoko-sweet-battle-characterOptionValues-background {
	z-index:8;
	position:fixed;
	top:0;
	left:0;
	width:100%;
	height:120%;
	background-color:rgba(0,0,0,0.75);
}
#com-hiyoko-sweet-battle-characterOptionValues-body {
	margin:auto;
	position:relative;
	max-width: 90%;
	max-height:70%;
	z-index:9;
	background-color:white;
	padding:8px;
	overflow: scroll;
}

.com-hiyoko-sweet-battle-characterOptionValues-body-table-header-partsName,
.com-hiyoko-sweet-battle-characterOptionValues-body-table-member-col
 {
	background-color: #E0E0FF
}
.com-hiyoko-sweet-battle-characterOptionValues-body-table-header-characterName,
.com-hiyoko-sweet-battle-characterOptionValues-body-table-member-col-all {
	background-color: #C0C0FF
}

.com-hiyoko-sweet-battle-characterOptionValues-body-table-header-empty,
.com-hiyoko-sweet-battle-characterOptionValues-body-table-member-title {
	background-color:#F0F0F0;
}

