h1 {
	border-bottom: solid 3px #C0D0C0;
	background-color:#006000;
	color:white;
	padding:1em;
	font-size:130%;
}

#com-hiyoko-sw2-datamanager {
	background-color: #F0F0F0;
	position:relative;
}

#com-hiyoko-sw2-datamanager > div#com-hiyoko-sw2-datamanager-list {
	background-color:#E0E0E0;
	position:relative;
	top: -13px;
	padding:0px;
}

#com-hiyoko-sw2-datamanager-list-list {
	position:relative;
	left:2px;
}

#com-hiyoko-sw2-datamanager-list-list > li {
	display: inline-block;
	background-color:white;
	position:relative;
	width:200px; 
	margin-left:4px;
	left: -42px;
	border: outset 3px gray;
	padding-left:1em;
}

#com-hiyoko-sw2-datamanager-list-list > li > a {
	text-decoration: none;
	color:black;
}

#com-hiyoko-sw2-datamanager-export,
#com-hiyoko-sw2-datamanager-import {
	padding: 0em 1em 1em 1em;
}

#com-hiyoko-sw2-datamanager-export-data,
#com-hiyoko-sw2-datamanager-import-data {
	width:99%;
	display:block;
	margin:auto;
	height: 10em;
}

footer{
	position: relative;
	border-top: solid 3px #D0C0C0;
	background-color:#E0F0E0;
	padding:1em;
	font-size:70%;
}
