h1 {
	border-bottom: solid 3px #D0C0C0;
	background-color:#600000;
	color:white;
	padding:1em;
	font-size:130%;
}

#com-hiyoko-sw2-player {
	background-color: #F0F0F0;
	position:relative;
}

#com-hiyoko-sw2-player > div#com-hiyoko-sw2-player-list {
	background-color:#E0E0E0;
	position:relative;
	top: -13px;
	padding:0px;
}

#com-hiyoko-sw2-player-selectBot {
	position: absolute;
	top: 108px;
	right: 8px;
}

#com-hiyoko-sw2-player-list-list {
	position:relative;
	left:2px;
}

.com-hiyoko-sw2-player-list-list-item {
	display: inline-block;
	background-color:white;
	position:relative;
	width:200px; 
	margin-left:4px;
	left: -42px;
	border: outset 3px gray;
}

.active {
	border: inset 3px gray;
	background-color:#E0E0E0;
}

.com-hiyoko-sw2-player-noTableExist .com-hiyoko-sw2-player-playerbattle-common-targetList {
	display:none;
}

#com-hiyoko-sw2-player-playerbattle-nameSelector-overlay {
	z-index:8;
	display:none;
	position:fixed;
	top:0;
	left:0;
	width:100%;
	height:120%;
	background-color:rgba(0,0,0,0.75);
}

#com-hiyoko-sw2-player-playerbattle-nameSelector-body {
	width:20%;
	min-width:200px;
	top:15px;
	margin:auto;
	padding:1em;
	border:2px double #aaa;
	background:white;
	z-index:9;
	position:fixed;
	display:none;
}

#com-hiyoko-sw2-player-playerbattle-option-table {
	position:absolute;
	z-index:3;
	background-color:white;
}

#com-hiyoko-sw2-player-playerbattle-weapons {
	background-color: #f5deb3;
}

#com-hiyoko-sw2-player-playerbattle-magics {
	background-color: #e6e6fa;
}

#com-hiyoko-sw2-player-playerbattle-response {
	background-color:#98fb98;
}

#com-hiyoko-sw2-player-playerbattle-call {
	background-color:#ffe4e1;
}

.com-hiyoko-sw2-player-playerbattle-base {
	padding: 8px;
	margin-top: 8px;
	border-radius:8px;
	width: 800px;
}

.com-hiyoko-sw2-player-playerbattle-base p,
.com-hiyoko-sw2-player-playerbattle-base h3 {
	margin-top: 0px;
	margin-bottom: 0px;
}

#com-hiyoko-sw2-player-playerbattle-weapons-ratelabel,
#com-hiyoko-sw2-player-playerbattle-weapons-rate,
#com-hiyoko-sw2-player-playerbattle-weapons-damagelabel
{
	display: none;
}

#com-hiyoko-sw2-player-playerbattle-weapons-damage {
	width: 43px;
	display: none;
}


#com-hiyoko-sw2-player-playerbattle-weapons-memo,
#com-hiyoko-sw2-player-playerbattle-magics-memo {
	width: 333px;
}

#com-hiyoko-sw2-player-playerbattle-magics-bard-musicElement input {
	width: 30px;
}

#com-hiyoko-sw2-player-playerbattle-call > div > div {
	margin-bottom:4px;
}

#com-hiyoko-sw2-player-playerbattle-call-editor {
	width: 480px;
	resize:none;
}

#com-hiyoko-sw2-player-playerbattle-call-move-distance {
	width:40px;
}

#com-hiyoko-sw2-player > div#com-hiyoko-sw2-player-resourceManage {
	display: none;
	position:fixed;
	top:14px;
	background-color: #ff7f7f;
	opacity:0.9;
	padding: 4px;
}

#com-hiyoko-sw2-player-resourceManage {
	z-index:4;
}
  
#com-hiyoko-sw2-player-resourceManage-base {
	display:none;
}

#com-hiyoko-sw2-player-resourceManage-append {
	display: none;
}

#com-hiyoko-sw2-player-resourceManage-resources {
	display: none;
}

#com-hiyoko-sw2-player-resourceManage-resources > h3 {
	margin-top:3px;
	margin-bottom: 3px;
}

#com-hiyoko-sw2-player-resourceManage-resources-points {
	display: inline-table;
	position: relative;
	top: -233px;
}

#com-hiyoko-sw2-player-resourceManage-resources-points > caption {
	font-weight: bold;
	text-align: left;
}

#com-hiyoko-sw2-player-resourceManage-resources-points input {
	width:40px;
}

#com-hiyoko-sw2-player-resourceManage-resources-points input#com-hiyoko-sw2-player-resourceManage-resources-points-mp-extend {
	width: 90px;
}

#com-hiyoko-sw2-player-resourceManage-resources-RemoCon {
	display: inline-block;
	border-left: 2px double #ffbf7f;
	padding-left:5px;
}

#com-hiyoko-sw2-player-resourceManage-resources-RemoCon input {
	width:40px;
}

#com-hiyoko-sw2-player-pet {
	position:relative;
}

#com-hiyoko-sw2-player-pet-options {
	position: absolute;
	background-color: white;
	top:-3em;
}

div.com-hiyoko-sw2-player-pet-character {
	border: 4px double black;
	padding: 4px;
	position: relative;
}

div.com-hiyoko-sw2-player-pet-character button {
	height: 2em;
}

.com-hiyoko-sw2-player-pet-character-physical,
.com-hiyoko-sw2-player-pet-character-mental {
	display:none;
}

div.com-hiyoko-sw2-player-pet-character-part {
	border: 2px double black;
	padding: 4px;
	position: relative;
}

.com-hiyoko-sw2-player-pet-character-part-copy {
	display:none;
}

table.com-hiyoko-sw2-player-pet-character-part-table {
	display:table;
}

table.com-hiyoko-sw2-player-pet-character-part-table > tr > td.com-hiyoko-sw2-player-pet-character-part-number > input {
	width: 40px;
}

table.com-hiyoko-sw2-player-pet-character-part-table > tr > td.com-hiyoko-sw2-player-pet-character-part-text > input {
	width: 120px;
}

div.com-hiyoko-sw2-player-pet-character-part-attackway {
	border: 1px solid black;
	padding: 4px;
	position: relative;
}

.com-hiyoko-sw2-player-pet-character-part-attackway-val,
.com-hiyoko-sw2-player-pet-character-part-attackway-atk {
	width: 40px;
}

.com-hiyoko-sw2-player-pet-character-part-dodge-static-exec,
.com-hiyoko-sw2-player-pet-character-part-attackway-static-exec,
.com-hiyoko-sw2-player-pet-character-part-attackway-targetSelector {
	display: none;
}

.com-hiyoko-sw2-player-pet-character-part-delete,
.com-hiyoko-sw2-player-pet-character-part-attackway-del {
	position:absolute;
	top: 4px;
	right: 4px;
}


#com-hiyoko-sw2-player-links-map-exec {
	color:blue;
	text-decoration: underline;
}

#com-hiyoko-sw2-player > div {
	padding: 1em;
}

#com-hiyoko-sw2-player-playerbattle,
#com-hiyoko-sw2-player-pet,
#com-hiyoko-sw2-player-commoncheck,
#com-hiyoko-sw2-player-links {
	min-height: 630px;
}

#com-hiyoko-sw2-player-commoncheck p {
	margin-top: 0px;
	margin-bottom: 0px;
}

#com-hiyoko-sw2-player-commoncheck-option {
	margin-top: 8px;
	margin-bottom: 8px;
}

#com-hiyoko-sw2-player-commoncheck-executionButtons {
	margin-top: 8px;
}

#com-hiyoko-sw2-player-commoncheck-executionButtons > button {
	margin-bottom: 4px;
}

#com-hiyoko-sw2-player-talk {
	display:none;
	position: fixed;
	right: 1em;
	bottom: 1em;
	display: none;
	background-color: #ff7f7f;
	opacity:0.9;
	border-radius:5px;
	box-sizing:border-box;
	z-index:3;
}

#com-hiyoko-sw2-player-talk > p {
	margin-top:0px;
	margin-bottom:0px;
}

#com-hiyoko-sw2-player-talk-chat {
	display:none;
}


#com-hiyoko-sw2-player-talk-toggle {
	text-align:right;
}

#com-hiyoko-sw2-player-talk-chat-input {
	background-color:white;
}

footer{
	position: relative;
	border-top: solid 3px #D0C0C0;
	background-color:#F0E0E0;
	padding:1em;
	font-size:70%;
}

table {
	display:none;
}

.com-hiyoko-component-table-base-member-number {
	width: 60px;
}

#com-hiyoko-sw2-player-entrance {
	display:none;
}

#com-hiyoko-sw2-player-entrance-url-FreeInput {
	display:none;
}

