h1 {
	border-bottom: solid 3px #D0C0C0;
	background-color:#202040;
	color:white;
	padding:1em;
	font-size:130%;
}









#com-hiyoko-sw2-player > div {
	padding: 1em;
}

footer{
	border-top: solid 3px #D0C0C0;
	background-color:#F0E0E0;
	padding:1em;
	font-size:70%;
}

table {
	display:none;
}

#com-hiyoko-sw2-player-entrance {
	display:none;
}

#com-hiyoko-sw2-player-entrance-url-FreeInput {
	display:none;
}

