@charset "UTF-8";

#com-hiyoko-sw2-player-entrance {
	background-color: #D0C0C0;
}

#com-hiyoko-sw2-player-entrance-sheet > button {
	height: 100px;
	width: 400px;
	background-color: transparent;
	border: 4px outset #b80b86;
	text-align: left;
	margin-bottom: 4px;
}

#com-hiyoko-sw2-player-entrance-sheet > button:hover {
	border: 4px inset #b80b86;
	background-color: #A0A0A0;
}

.com-hiyoko-sw2-player-entrance-sheet-button-label {
	font-size: 120%;
}

.com-hiyoko-sw2-player-entrance-sheet-button-text {
	font-size: 80%;
}

.com-hiyoko-sw2-player-entrance-tof-room-rooms-room,
.com-hiyoko-sw2-player-entrance-discord-room-room {
	border: 4px double #b8860b;
	background-color: #600000;
	color: #B0C0C0;
	border-radius: 1em;
	padding: 1em;
	margin-top:1em;
}

.com-hiyoko-sw2-player-entrance-tof-room-rooms-room-name:before,
.com-hiyoko-sw2-player-entrance-discord-room-room-name:before {content:'"';}
.com-hiyoko-sw2-player-entrance-tof-room-rooms-room-name:after,
.com-hiyoko-sw2-player-entrance-discord-room-room-name:after {content:'"';}

.com-hiyoko-sw2-player-entrance-tof-room-rooms-room-entry,
.com-hiyoko-sw2-player-entrance-discord-room-room-entry {
	margin-top: 8px;
}

#com-hiyoko-sw2-player-entrance-tof-password-back,
#com-hiyoko-sw2-player-entrance-tof-option-back {
	margin-bottom: 1em;
}

#com-hiyoko-sw2-player-entrance-tof-option-color {
	width: 70px;
}