h1 {
	border-bottom: solid 3px #D0C0C0;
	background-color:#600000;
	color:white;
	padding:1em;
	font-size:130%;
}

#com-hiyoko-sw2-player {
	background-color: #F0F0F0;
	position:relative;
}

#com-hiyoko-sw2-player-list {
	background-color:#E0E0E0;
	position:relative;
	top: -13px;
	height: 2em;
}

#com-hiyoko-sw2-player-list-list {
	position:absolute;
	top:-4px;
	left:2px;
}

.com-hiyoko-sw2-player-list-list-item {
	display: inline-block;
	background-color:white;
	padding:5px;
	position:relative;
	width:200px; 
	margin-left:4px;
	left: -42px;
	border: outset 3px gray;
}

.active {
	border: inset 3px gray;
	background-color:#E0E0E0;
}

#com-hiyoko-sw2-player-playerbattle-nameSelector-overlay {
	z-index:1;
	display:none;
	position:fixed;
	top:0;
	left:0;
	width:100%;
	height:120%;
	background-color:rgba(0,0,0,0.75);
}

#com-hiyoko-sw2-player-playerbattle-nameSelector-body {
	width:20%;
	min-width:200px;
	top:15px;
	margin:auto;
	padding:1em;
	border:2px double #aaa;
	background:white;
	z-index:2;
	position:fixed;
	display:none;
}

#com-hiyoko-sw2-player-playerbattle-option-table {
	position:absolute;
	z-index:3;
	background-color:white;
}

#com-hiyoko-sw2-player-playerbattle-weapons-ratelabel,
#com-hiyoko-sw2-player-playerbattle-weapons-rate {
	display: none;
}

#com-hiyoko-sw2-player-playerbattle-weapons-memo,
#com-hiyoko-sw2-player-playerbattle-magics-memo {
	width: 333px;
}

#com-hiyoko-sw2-player > div {
	padding: 1em;
}

footer{
	border-top: solid 3px #D0C0C0;
	background-color:#F0E0E0;
	padding:1em;
	font-size:70%;
}

table {
	display:none;
}

.com-hiyoko-component-table-base-member-number {
	width: 60px;
}

#com-hiyoko-sw2-player-entrance {
	display:none;
}

#com-hiyoko-sw2-player-entrance-url-FreeInput {
	display:none;
}

