@CHARSET "UTF-8";		

button {
	display:block;
	font-size:140%;
	border: lightyellow 3px outset;
	background-color:lemonchiffon;
	margin-top:4px;
}

#com-hiyoko-sweet-header {
	border-bottom: solid 3px #D0C0C0;
	background-color:#A0A0A0;
	padding:1em;
	font-size:130%;
}

#com-hiyoko-sweet-body {
	display:flex;
	background-color:#E0E0E0;
}

#com-hiyoko-sweet-menu {
	vertical-align:top;
	height:100%;
	color:black;
	width:200px;
}

#com-hiyoko-sweet-menu-list {
	list-style-type: none;
	position:relative;
}

#com-hiyoko-sweet-menu-list > li{
	background-color:white;
	border-radius: 1em;
	margin-bottom:4px;
	padding:5px;
	position:relative;
	left:-2em;
	width:170px;
}

#com-hiyoko-sweet-apps {
	height:100%;
	width:100%;
	border-left: solid 3px #D0C0C0;
	background-color:#A0A0A0;
	padding-left:1em;
}


.com-hiyoko-sweet-table-base-total > td {
	border-top: double 8px black;
	background-color:#E0E0E0;
}

.com-hiyoko-sweet-table-base-member-text {
	width:98%;
}

.com-hiyoko-sweet-table-base-member-number {
	width:97%;
}

#com-hiyoko-sweet-accounting-detail {
	position:relative;
}

#com-hiyoko-sweet-accounting-detail-savedData {
	position:fixed;
}

#com-hiyoko-sweet-accounting-detail-in {
	display:inline-block;
	vertical-align:top;	
	width:350px;
}

#com-hiyoko-sweet-accounting-detail-out {
	display:inline-block;
	vertical-align:top;
	width:470px;
}

.com-hiyoko-sweet-accounting-detail-out-header-0 {
	width:100px;
}

.com-hiyoko-sweet-accounting-detail-in-header-0,
.com-hiyoko-sweet-accounting-detail-out-header-1  {
	width:200px;
}

.com-hiyoko-sweet-accounting-detail-in-header-1,
.com-hiyoko-sweet-accounting-detail-in-header-2,
.com-hiyoko-sweet-accounting-detail-out-header-2,
.com-hiyoko-sweet-accounting-detail-out-header-3 {
	width:60px;
}

.com-hiyoko-sweet-accounting-detail-in-header-3,
.com-hiyoko-sweet-accounting-detail-out-header-4 {
	width:40px;
}

#com-hiyoko-sweet-accounting-detail-savedData-toggle {
	display:block;
	font-size:80%;
	border: lightyellow 3px none;
	background-color:lemonchiffon;
	border-radius: 1em;
	opacity:0.8;
}

#com-hiyoko-sweet-accounting-detail-savedData-display {
	display:none;
	color:white;
	background-color:#001000;
	border-radius: 1em;
	opacity:0.9;
	padding:1em;
	width:600px;
}

#com-hiyoko-sweet-accounting-summary {
	padding:1em;
	display:inline-block;
	vertical-align:top;
}

.com-hiyoko-sweet-accounting-summary-table td {
	text-align:right;
	padding:3px;
}

td.com-hiyoko-sweet-accounting-summary-table-out-name {
	vertical-align:top;
	text-align:left;
}

td.com-hiyoko-sweet-accounting-summary-table-out-total {
	border-top: double 6px black;
}

#com-hiyoko-sweet-accounting-plan {
	padding:1em;
	display:inline-block;
	vertical-align:top;
}

.com-hiyoko-sweet-accounting-plan-table-rowtotal > td {
	border-top: double 6px black;
}

.com-hiyoko-sweet-accounting-plan-table-coltotal {
	border-left: double 6px black;
}

#com-hiyoko-sweet-circumstance table {
	display:none;
}

#com-hiyoko-sweet-disscussion {
	display:flex;
}

#com-hiyoko-sweet-disscussion-vote {
	height:260px;
	border:6px inset gray;
	padding-left:3px;
	padding-right:3px;
}

#com-hiyoko-sweet-disscussion-vote-list {
	border:3px inset gray;
	height:140px;
	width:490px;
}

#com-hiyoko-sweet-disscussion-memo {
	border:6px inset gray;
	padding-left:3px;
	padding-right:3px;
	height:400px;
	width:500px;
}

#com-hiyoko-sweet-disscussion-memo-editor {
	border:3px inset gray;
	height:280px;
	width:490px;
}

#com-hiyoko-sweet-disscussion-memo-clear {
	margin-left:10px;
}

#com-hiyoko-sweet-disscussion-chat {
	display:flex;
}

.com-hiyoko-sweet-disscussion-chat-stream { 
	width:300px;
	border:6px inset black;
}

.com-hiyoko-sweet-disscussion-chat-stream-messages {
	height:600px;
	overflow:scroll;
}

.com-hiyoko-sweet-disscussion-chat-stream-messages-message {
	position:relative;
	border-bottom:1px gray solid;
}

.com-hiyoko-sweet-disscussion-chat-stream-messages-message-name {
	font-size:120%;
}

.com-hiyoko-sweet-disscussion-chat-stream-messages-message-text {
	width:280px;
	word-break:break-all;
	padding:3px;
}
.com-hiyoko-sweet-disscussion-chat-stream-messages-message-button {
	display:inline;
	font-size:100%;
	border:gray 3px outset;
	background-color:#A0A0A0;
	opacity:0.5;
	position:absolute;
	right:5px;
	bottom:0px;
	margin-top:0px;
}

#com-hiyoko-sweet-footer{
	border-top: solid 3px #D0C0C0;
	background-color:#A0A0A0;
	padding:1em;
	font-size:70%;
}


.active {
	color:red;
}