@CHARSET "UTF-8";		

button {
	display:block;
	font-size:140%;
	border: lightyellow 3px outset;
	background-color:lemonchiffon;
	margin-top:4px;
}

#com-hiyoko-sweet-header {
	border-bottom: solid 3px #D0C0C0;
	background-color:#202040;
	color:white;
	padding:1em;
	font-size:130%;
	position: relative;
}

#com-hiyoko-sweet-header-menu {
	border: 3px outset #EEEEEE;
}

#com-hiyoko-sweet-header-menu:hover {
	color:#202040;
	background-color:white;
	border: 3px inset #EEEEEE;
}

#com-hiyoko-sweet-header-list {
	display: none;
	font-size:80%;
	position: absolute;
	background-color: #202040;
	z-index:3;
	padding: 4px;
}

#com-hiyoko-sweet-header-list-close {
	position: absolute;
	right: 8px;
	top: 8px;
	width:25px;
	height:25px;
	border: 3px outset #EEEEEE;
	text-align:center;
}

#com-hiyoko-sweet-header-list-close:hover {
	color:#202040;
	background-color:white;
}

.com-hiyoko-sweet-header-list-item {
	border-top: 1px white solid;
}

.com-hiyoko-sweet-header-list-item:hover {
	color:#202040;
	background-color:white;
}

#com-hiyoko-sweet-body {
	display:flex;
	background-color:#E0E0E0;
}

#com-hiyoko-sweet-menu {
	vertical-align:top;
	height:100%;
	color:black;
	position:relative;
}

#com-hiyoko-sweet-menu-toggle {
	position: relative;
	top: 4px;
	left: 4px;
	width: 20px;
	height: 20px;
	margin-right:4px;
	text-align:center;
	display: block;
	border: 3px gray outset;
}

#com-hiyoko-sweet-menu-toggle:hover {
	border: 3px gray inset;
	background-color: gray;
}

#com-hiyoko-sweet-menu-list {
	list-style-type: none;
	position:relative;
	left:-2em;
	width:210px;
}

#com-hiyoko-sweet-menu-list > li{
	background-color:white;
	border-radius: 1em;
	margin-bottom:4px;
	padding:5px;
	position:relative;
	width:220px;
}

#com-hiyoko-sweet-apps {
	height:100%;
	width:100%;
	border-left: solid 3px #D0C0C0;
	background-color:#F0F0F0;
	padding:1em;
	position:relative;
}
#com-hiyoko-sweet-responseChatBase {
	position:fixed;
	right:4px;
	top: 81px;
	background-color:white;
}
#com-hiyoko-sweet-responseChatBase-toggle {
	display:block;
	font-size:80%;
	border: lightyellow 3px none;
	background-color:lemonchiffon;
	position:absolute;
	top:0px;
	right:0px;
}
#com-hiyoko-sweet-responseChatBase-chat {
	display:none;
}

#com-hiyoko-sweet-pcs {
	position:absolute;
	left:0px;
	top: -4px;
}

#com-hiyoko-sweet-pcs-pcs {
	display: none;
	background-color: gray;
	opacity: 0.98;
	padding: 2px;
	max-width: 454px;
}

#com-hiyoko-sweet-pcs button {
	display:block;
	font-size:80%;
	border: lightyellow 3px none;
	background-color:lemonchiffon;
}

.com-hiyoko-sweet-pcs-pcs-prepare-id {
	display: block;
}

.com-hiyoko-sweet-pcs-pcs-manager-character {
	display: inline-block;
	width: 150px;
	font-size: 60%;
}

.com-hiyoko-sweet-pcs-pcs-manager-character-skills {
	font-size: 50%;
}

.com-hiyoko-sweet-pcs-pcs-manager-character-skills {
	font-size: 50%;
}

.com-hiyoko-sweet-table-base-total > td {
	border-top: double 8px black;
	background-color:#E0E0E0;
}

.com-hiyoko-component-table-base-member-text {
	width:98%;
}

.com-hiyoko-component-table-base-member-number {
	width:97%;
}

#com-hiyoko-sweet-accounting-detail {
	position:relative;
}

#com-hiyoko-sweet-accounting-detail-savedData {
	position:fixed;
}

#com-hiyoko-sweet-accounting-detail-in {
	display:inline-block;
	vertical-align:top;	
	width:350px;
}

#com-hiyoko-sweet-accounting-detail-out {
	display:inline-block;
	vertical-align:top;
	width:470px;
}

.com-hiyoko-sweet-accounting-detail-out-header-0 {
	width:100px;
}

.com-hiyoko-sweet-accounting-detail-in-header-0,
.com-hiyoko-sweet-accounting-detail-out-header-1  {
	width:200px;
}

.com-hiyoko-sweet-accounting-detail-in-header-1,
.com-hiyoko-sweet-accounting-detail-in-header-2,
.com-hiyoko-sweet-accounting-detail-out-header-2,
.com-hiyoko-sweet-accounting-detail-out-header-3 {
	width:60px;
}

.com-hiyoko-sweet-accounting-detail-in-header-3,
.com-hiyoko-sweet-accounting-detail-out-header-4 {
	width:40px;
}

#com-hiyoko-sweet-accounting-detail-savedData-toggle {
	display:block;
	font-size:80%;
	border: lightyellow 3px none;
	background-color:lemonchiffon;
	border-radius: 1em;
	opacity:0.8;
}

#com-hiyoko-sweet-accounting-detail-savedData-display {
	display:none;
	color:white;
	background-color:#001000;
	border-radius: 1em;
	opacity:0.9;
	padding:1em;
	width:600px;
}

#com-hiyoko-sweet-accounting-summary {
	padding:1em;
	display:inline-block;
	vertical-align:top;
}

.com-hiyoko-sweet-accounting-summary-table td {
	text-align:right;
	padding:3px;
}

td.com-hiyoko-sweet-accounting-summary-table-out-name {
	vertical-align:top;
	text-align:left;
}

td.com-hiyoko-sweet-accounting-summary-table-out-total {
	border-top: double 6px black;
}

#com-hiyoko-sweet-accounting-plan {
	padding:1em;
	display:inline-block;
	vertical-align:top;
}

.com-hiyoko-sweet-accounting-plan-table-rowtotal > td {
	border-top: double 6px black;
}

.com-hiyoko-sweet-accounting-plan-table-coltotal {
	border-left: double 6px black;
}


#com-hiyoko-sweet-circumstance table {
	display:none;
}

#com-hiyoko-sweet-circumstance-music-behavior {
	height: 18px;
}

#com-hiyoko-sweet-disscussion {
	display:flex;
}

#com-hiyoko-sweet-disscussion-vote {
	height:177px;
	border:6px inset gray;
	padding-left:3px;
	padding-right:3px;
}

#com-hiyoko-sweet-disscussion-vote-list {
	border:3px inset gray;
	height:90px;
	width:390px;
}

#com-hiyoko-sweet-disscussion-memo {
	border:6px inset gray;
	padding-top:1px;
	padding-left:3px;
	padding-right:3px;
	height:270px;
	width:400px;
}

#com-hiyoko-sweet-disscussion-memo > h2,
#com-hiyoko-sweet-disscussion-vote > h2 {
	margin-top:2px;
	margin-bottom: 2px;
}

#com-hiyoko-sweet-disscussion-memo-editor {
	border:3px inset gray;
	height:180px;
	width:390px;
}

#com-hiyoko-sweet-disscussion-chat {
	width:400px;
	height:460px;
	border:6px inset black;
	overflow:scroll;
}

.com-hiyoko-sweet-disscussion-chat-display-log {
	position:relative;
	border-bottom:1px gray solid;
	margin-top: 0px;
	margin-bottom: 0px;
}

.com-hiyoko-sweet-disscussion-chat-display-log-name {
	font-size:80%;
	display: block;
}

.com-hiyoko-sweet-disscussion-chat-display-log-message {
	font-size:70%;
	word-break:break-all;
	padding:3px;
}

.com-hiyoko-sweet-disscussion-chat-display-log-append {
	display: block;
	border: 2px inset gray;
	background-color: white;
	position:relative;
	width: 80px;
	left: 295px;
	font-size:70%;
}

#com-hiyoko-sweet-disscussion-memo-clear,
#com-hiyoko-sweet-disscussion-vote-submit {
	font-size: 100%;
	margin-top: -5px;
}

#com-hiyoko-sweet-Memo-header {
	margin-top: 0px;
	margin-bottom: 0px;
	padding: 0px;
}

#com-hiyoko-sweet-Memo-header,
#com-hiyoko-sweet-Memo-browser,
#com-hiyoko-sweet-Memo-textmemo {
	position: relative;
	width: 40%;
	min-width: 540px;
}

#com-hiyoko-sweet-Memo-url {
	width: 80%;	
}

.com-hiyoko-sweet-Memo-header-button {
	border: 2px outset gray;
	width: 25px;
	display: inline-block;
	text-align:center;
}

.com-hiyoko-sweet-Memo-header-button:hover {
	background-color: gray;
	border: 2px inset gray;
}

#com-hiyoko-sweet-Memo-browser,
#com-hiyoko-sweet-Memo-textmemo {
	top: 8px;
	background-color: white;
	height: 600px;
}

#com-hiyoko-sweet-Memo-textmemo {
	resize: none;
	display: none;
}

#com-hiyoko-sweet-footer{
	border-top: solid 3px #D0C0C0;
	background-color:#F0E0E0;
	padding:1em;
	font-size:70%;
}


.active {
	color:red;
}